.about {
  position: relative;
  width: 100%;
  height: 100vh;
}

.profileContainer {
  height: 60vh;
  width: 25vw;
  position: absolute;
  left: 63vw;
  top: 15vh;
}

.imageContainer {
  height: 60vh;
  width: 25vw;
  position: absolute;
  overflow: hidden;
  /* background: black; */
}

.profileCover {
  background: #FFA500;
  height: 100%;
  width: 100%;
  position: absolute;
}

.summaryContainer {
  position: absolute;
  height: 60vh;
  width: 50vw;
  top: 25vh;
  left: 14vw;
}

.summaryCover {
  background: #FFA500;
  height: 100%;
  width: 100%;
  position: absolute;
}

.summary {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  /* word-wrap: none; */
}

.title {
  position: absolute;
  z-index: 1;
  left: 21vw;
  top: 6vh;
  font-size: 1.2rem;
  font-weight: bold;
}

.body {
  position: absolute;
  z-index: 1;
  left: 5vw;
  top: 11vh;
  width: 40vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.body p {
  text-align: center;
  line-height: 1.4rem;
}

.technologies {
  position: absolute;
  z-index: 1;
  top: 32vh;
  left: 20.3vw;
  font-weight: bold;
  font-size: 1.2rem;
  /* margin-top: 1vh; */
}

.techBody {
  position: absolute;
  z-index: 1;
  left: 3.5vw;
  top: 36.5vh;
  width: 45vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.techBody p {
  text-align: center;
  line-height: 1.4rem;
  font-size: .8rem;
  text-transform: uppercase;
}
.techBody p:nth-child(odd) {
  font-weight: bold;
  margin-top: .5vh
}

@media (max-width: 414px) {
  .about {
    height: 1120px;
  }
  .profileContainer, .imageContainer, .profileCover {
    height: 360px;
    width: 310px;
    left: 5vw;
    top: 4vh;
    /* border-radius: 50%; */
    /* z-index: 1; */
  }
  .summaryContainer, .summaryCover, .summary {
    width: 310px;
    left: 5vw;
    height: 750px;
    top: 25vh;
  }
  .title, .body, .technologies, .techBody {
    position:static;
  }
  .summary {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-height: 750px;
  }
  .title {
    margin-bottom: 20px
  }
  .body, .body p {
    width: 70vw;
  }
  .body {
    font-size: .7rem;
  }
  .technologies {
    margin: 20px 0
  }
  .techBody {
    width: 70vw;
  }
  .techBody p {
    font-size: .7rem;
  }
}