.about {
  position: relative;
}

.profileContainer {
  height: 60vh;
  width: 23vw;
  position: absolute;
  left: 63vw;
  top: 15vh;
}

.imageContainer {
  height: 60vh;
  width: 23vw;
  position: absolute;
  overflow: hidden;
  background: black;
}

.profileCover {
  background: #FFA500;
  height: 100%;
  width: 100%;
  position: absolute;
}

.summaryContainer {
  position: absolute;
  height: 60vh;
  width: 50vw;
  top: 25vh;
  left: 14vw;
}

.summaryCover {
  background: #FFA500;
  height: 100%;
  width: 100%;
  position: absolute;
}

.summary {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  /* word-wrap: none; */
}

.title {
  position: absolute;
  z-index: 1;
  left: 21vw;
  top: 6vh;
  font-size: 1.2rem;
  font-weight: bold;
}

.body {
  position: absolute;
  z-index: 1;
  left: 5vw;
  top: 11vh;
  width: 40vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.body p {
  text-align: center;
  line-height: 1.4rem;
}

.technologies {
  position: absolute;
  z-index: 1;
  top: 30vh;
  left: 20.3vw;
  font-weight: bold;
  font-size: 1.2rem;
}

.techBody {
  position: absolute;
  z-index: 1;
  left: 5.5vw;
  top: 34.5vh;
  width: 40vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.techBody p {
  text-align: center;
  line-height: 1.4rem;
  font-size: .8rem;
  text-transform: uppercase;
}
.techBody p:nth-child(odd) {
  font-weight: bold;
  margin-top: .5vh

}