.deskPhoto {
  position: absolute;
  top: 53vh;
  left: 12vw;
  /* box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 15%); */
  border-radius: 5%;
  height: 50vh;
  width: 30vw;
  overflow:hidden;
  /* opacity: 80%; */
}

@media (max-width: 414px) {
  .deskPhoto {
    width: 73vw;
    height: 35vh;
    top: 60vh;
    left: 10vw;
  }
}