.hello {
  position: absolute;
  top: 33vh;
  left: 50vw;
  color: #d3d3d3;
  font-size: 10rem;
  width: 0vw;
  overflow: hidden;
  height: 20vh;
}

@media (max-width: 1800px) {
  .hello {
    font-size: 8rem;
  }
  .box {

  }
}

.box {
  height: 60vh;
  width: 45vw;
  background: #000;
  position: absolute;
  top: 14vh;
  left: 50vw;
  z-index: -1;
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 18%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.cover {
  height: 56vh;
  width: 43vw;
  background: #FFFFFF;
  z-index: 1;
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 18%);
}