.hello {
  /* position: absolute; */
  top: 33vh;
  left: 50vw;
  color: #d3d3d3;
  font-size: 10rem;
  width: 0vw;
  overflow: hidden;
  height: 20vh;
}

.box {
  height: 60vh;
  width: 45vw;
  background: #000;
  position: absolute;
  top: 14vh;
  left: 50vw;
  z-index: -1;
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 18%);
  display: flex;
  justify-content: center;
  align-items: center;

}
.cover {
  height: 56vh;
  width: 43vw;
  background: #FFFFFF;
  z-index: 1;
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 18%);
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

@media (max-width: 1800px) {
  .hello {
    font-size: 10rem;
    height: 16vh;
  }
}

@media (max-width: 1600px) {
  .hello {
    font-size: 7.5rem;
  }
}

@media (max-width: 1400px) {
  .hello {
    font-size: 7rem;
  }

}
@media (max-width: 1300px) {
  .hello {
    font-size: 6.5rem;
    height: 15vh;
  }
}

@media (max-width: 1200px) {
  .hello {
    font-size: 6rem;
  }
}
@media (max-width: 1100px) {
  .hello {
    font-size: 5.5rem;
  }
}
@media (max-width: 1000px) {
  .hello {
    font-size: 4.5rem;
  }
}
@media (max-width: 900px) {
  .hello {
    font-size: 4rem;
  }
}
@media (max-width: 800px) {
  .hello {
    font-size: 3.5rem;
  }
}
@media (max-width: 700px) {
  .hello {
    font-size: 2.5rem;
  }
}

@media (max-width: 414px) {
  .hello {
    font-size: 3rem;
    height: 6vh;
    padding-left: 8vw;
  }
  .cover {
    height: 28vh;
    width: 75vw;
  }
  .box {
    height: 30vh;
    top: 10vh;
    width: 80vw;
    left: 10vw;
  }
}

