.hello {
  position: absolute;
  top: 40vh;
  left: 50vw;
  color: #d3d3d3;
  font-size: 10rem;
  /* display: flex; */
  width: 0vw;
  overflow: hidden;
  height: 20vh;
  /* box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 13%); */
}