.landingPhoto {
  position: absolute;
  top: 60vh;
  left: 50vw;
  /* box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 15%); */
  border-radius: 5%;
  height: 20vh;
  width: 44vw;
  overflow:hidden;
  opacity: 100%;
}