.nav li {
  list-style-type: none;
}

.resources {
  display: flex;
  justify-content: flex-end;
  width: 93vw;
}

.resources li {
  margin-left: 1vw;
}

.nav {
  display: flex;
  /* min-height: 5vh;
  height: 5vh; */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-top: 1vh;
  /* background: white; */
}

.home {
  width: 5vw;
  display: flex;
  justify-content: center;
}

.nav a:hover {
  color: skyblue;
}