.nav li {
  list-style-type: none;

}

.resources {
  display: flex;
  justify-content: flex-end;
  width: 93vw;
  padding-right: 2vw;
}

.resources li {
  margin-left: 1vw;
}

.nav {
  display: flex;
  width: 99.2vw;
  position: fixed;
  top: 0;
  z-index: 10000;
  padding-top: 2vh;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: Cerebri,Helvetica,Arial,sans-serif;
  /* color:#000; */
}

.man {
  padding-left: .3vw;
}

.home {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-left: 2vw;
}

.nav a:hover {
  color: skyblue;
}

@media (max-width: 414px) {
  .home {
    padding-left: 8vw;
  }
  .man {
    padding-left: 2vw;
  }
}