.container, .container1, .container2 {
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 20%);
  z-index: 1;
  overflow: hidden;
  border: 10px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container {
  height: 45vh;
  width: 26vw;
  top: 30vh;
  left: 34vw;
}
.container1 {
  height: 40vh;
  width: 30vw;
  top: 30vh;
  left: 34vw;
}
.container2 {
  height: 40vh;
  width: 32vw;
  top: 30vh;
  left: 34vw;
}

.coverPage {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.coverTitle {
  position: absolute;
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
  z-index: 1;
}

.coverTitle p:nth-child(2){
  font-size: .7rem;
  line-height: 1.3rem;
}

.projects {
  position: relative;
}

.title {
  position: absolute;
  top: 13.5vh;
  left: 13vw;
  font-size: 2rem;
  color: #000;
  text-shadow: 1.5px 3px rgb(0 0 0 / 20%);
}