.catWalk, .stitchSaver, .lazyChef {
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 20%);
  z-index: 1;
  overflow: hidden;
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}
.catWalk2, .stitchSaver2, .lazyChef2 {
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 20%);
  z-index: 1;
  overflow: hidden;
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catWalk {
  height: 45vh;
  width: 26vw;
  top: 30vh;
  left: 34vw;
}
.stitchSaver {
  height: 40vh;
  width: 30vw;
  top: 30vh;
  left: 34vw;
}
.lazyChef {
  height: 40vh;
  width: 32vw;
  top: 30vh;
  left: 34vw;
}

.coverPage {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.coverTitle {
  position: absolute;
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  z-index: 1;
}

.coverTitle p:nth-child(2){
  font-size: .8rem;
  line-height: 1.3rem;
}

.projects {
  position: relative;
  width: 100%;
  height: 100vh;
}

.title {
  position: absolute;
  top: 13.5vh;
  left: 13vw;
  font-size: 2rem;
  color: #000;
  text-shadow: 1.5px 3px rgb(0 0 0 / 20%);
}

.quote {
  position: absolute;
  top: 29vh;
  left: 39vw;
  width: 18vw;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.quote p {
  text-shadow: 1.5px 2px rgb(0 0 0 / 20%);
  text-align: justify
}

.quote p:nth-child(2) {
  margin-top: 1.5vh;
  text-align: right;
}

.catWalk2, .coverPage2, .lazyChef2, .coverTitle2, .stitchSaver2 {
  display: none;
}

.catWalk2 {
  height: 45vh;
  width: 26vw;
  top: 30vh;
  left: 34vw;
}

.coverPage2 {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.coverTitle2 {
  /* position: absolute; */
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  z-index: 1;
  /* top: 17vh;
  left: 10vw; */
}

.coverTitle2 p:nth-child(2) {
  font-size: .8rem;
  line-height: 1.3rem;
}

@media (max-width: 414px) {
  .projects {
    height: 1200px;
  }
  .lazyChef, .stitchSaver, .catWalk, .coverPage {
    display: none;
  }
  .title {
    top: 10vh;
    left: 11vw;
  }
  .quote {
    width: 75vw;
    left: 11vw;
    top: 18vh;
    font-size: .9rem;
  }
  .catWalk2, .coverPage2, .coverTitle2, .stitchSaver2, .lazyChef2 {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .catWalk2, .stitchSaver2, .lazyChef2 {
    height: 290px;
  }

  .catWalk2 {
    width: 85vw;
    left: 7vw;
    top: 310px;
  }
  .stitchSaver2 {
    width: 85vw;
    top: 640px;
    left: 7vw;
  }
  .lazyChef2 {
    width: 85vw;
    top: 970px;
    left: 7vw;
  }
}