.sanFrancisco {
  position: absolute;
  top: 53vh;
  left: 50vw;
  border-radius: 5%;
  height: 20vh;
  width: 44vw;
  overflow:hidden;
  opacity: 100%;
}

@media (max-width: 414px) {
  .sanFrancisco {
    height: 10vh;
    top: 30vh;
    left: 13vw;
    width: 75vw;

  }
}