.container {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  top: 82vh;
  left: 3vw;
  height: 15vh;
}

@media (max-width: 414px) {
  .container {
    display: none;
  }
}