.techStackContainer {
  position: absolute;
  top: 55vh;
  left: 22.5vw;
  width: 11vw;
  display: flex;
}
.react {
  width: 5vw;
  height: 8vh;
  position: relative;
}
.jhc {
  width: 5vw;
  height: 8vh;
  position: relative;
}