.techStackContainer {
  position: absolute;
  top: 55vh;
  left: 22.5vw;
  width: 11vw;
  display: flex;
}
.react {
  width: 5.5vw;
  height: 8vh;
  position: relative;
}
.jhc {
  width: 5vw;
  height: 8vh;
  position: relative;
}

@media (max-width: 414px ) {
  .techStackContainer {
    top: 61vh;
    left: 40vw;
    width: 18vw;
  }
  .jhc, .react {
    width: 100vw;
    height: 6vh;
  }
}