
.verticalLine {
  border-left: 2px solid #d3d3d3;
}

.verticalLineContainer {
  position: absolute;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  left: 49.7vw;
  top: 15vh;
}
